{% extends 'base.html.twig' %}

{% block title %}CSS flex{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: #eeeeee
        }
        section {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
        }
        .block {
            background-color: white;
            border: 1px solid #aaaaaa;
            border-radius: 5px;
            width: auto;
            flex: 200px;
            padding: 10px;
            margin: 1px;
        }
    </style>
{% endblock %}

{% block body %}
    <section>
        {% for color in colors %}
            <div class="block" style="background-color: {{ color }}">
                <h3>Hello <?= $i ?></h3>
                <p>World world word world world</p>
                <p>World world word world world</p>
                <p>World world word world world</p>
                <p>World world word world world</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}
